 #new1{

color: blue;
letter-spacing: 10px;
word-spacing: 20px;
text-decoration: line-through;
 }


 .new2{

    color: brown;


 }
 h{

color: blueviolet;
font-size: medium;

 }
 #new3{

color: aqua;
font-size: larger;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 5px;
word-spacing: 10px;

 }

 .new4{
color: blueviolet;


 }
 h{
   font-size: xx-large;
   color: darkred;
    text-decoration: double;
   text-decoration: underline;
  letter-spacing: 4px;
  word-spacing: 15px;

 }
 p{

  color: chartreuse;



 }

