 .start12{
 width: 300px;
  height:500px;
border: 3px solid pink;
border-radius: 10px;

 }

  .child1{






  }








 #gun11{

height:600px;
border: 4px solid greenyellow;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
background-color: rgb(90, 201, 173);


 }
 .mountain{

width: 260px;
border-radius: 15px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;


 }