#sixpage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #sixpage .img_form{
    width: 50%;
    height: 400px;
    border: 2px red;
    /* background-image: url(img-9\ coffee); */
  }

  #sixpage .maps{
     width: 50%;
    height: 400px;
    border: 2px green;

  }